h1 {
    color: rgb(255, 99, 71);
}

#t01 {
    color: #00ff00;
}

.changing {
    background-color: hsl(180,100%,50%);
    opacity: 0.5;
}

p.center, h1 {
    text-align: center;
}

* {
    text-align: left;
    color: blue;
}

p.dotted{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 1200px;
    margin-left: 80px;
}

p.dashed {
    width: 300px;
    padding: 25px;
    box-sizing: border-box;
}

p.groove {
    width: 700px;
    margin: auto;
    border: 1px solid red;
}

div {
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 40px;
    color: blueviolet;
}

ol {
    background: #ff9999;
    padding: 20px;
    margin-right: 1300px;
}
  
ul {
    background: #3399ff;
    padding: 20px;
    margin-right: 1300px;
}
  
ol li {
    background: #ffe5e5;
    padding: 5px;
    margin-left: 35px;
}
  
ul li {
    background: #cce5ff;
    margin: 5px;
    list-style:none;
}

#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 50%;
}
  
#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}
  
#customers tr:nth-child(even){background-color: #f2f2f2;}
  
#customers tr:hover {background-color: #ddd;}
  
#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
    text-align: center;
}

#rcorners1 {
    border-radius: 15px 25px 20px;
    background: #4CAF50;
    padding: 20px;
    width: 200px;
    height: 100px;
    text-align: center;
}

@keyframes example {
    0%   {background-color: red;}
    25%  {background-color: yellow;}
    50%  {background-color: blue;}
    100% {background-color: green;}
}

.animation {
    width: 50px;
    height: 50px;
    background-color: red;
    animation-name: example;
    animation-duration: 4s;
    animation-delay:3s;
    animation-iteration-count: infinite;
    animation-direction: reverse;
    animation-timing-function: ease-in;
}

@keyframes example {
    from {left: 0px;}
    to {left: 200px; background-color: blue;}
}

.animation2 {
    margin-top: 5px;
    animation-delay:3s;
    width: 50px;
    height: 50px;
    background: red;
    position: relative;
    animation-name: example;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
    border: 1px solid grey;
}
  
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
}
  
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}
  
.tooltip:hover .tooltiptext {
    visibility: visible;
}

.container .button1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #f1f1f1;
    color: black;
    font-size: 16px;
    padding: 16px 30px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}
  
.container .button1:hover {
    background-color: black;
    color: white;
}

.btn-group .button {
    background-color: #4CAF50; 
    border: 1px solid green;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    float: left;
}
  
.btn-group .button:not(:last-child) {
    border-right: none; 
}
  
.btn-group .button:hover {
    background-color: #3e8e41;
}

.container {
    position: relative;
    width: 100%;
    max-width: 400px;
}
  
.container img {
    width: 100%;
    height: auto;
}

.pagination {
    display: inline-block;
    border-radius: 5px;
}
  
.pagination a {
    background-color: greenyellow;
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin: 0 4px;
    font-size: 22px;
}

.stolp {
    color: green;
    column-count: 3;
    column-gap: 40px;
    column-rule-style: solid;
    column-rule-width: 1px;
    column-rule-color: brown;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
  
  /* Контейнер <div> - необхідно розмістити випадаючий контент */
.dropdown {
    position: relative;
    display: inline-block;
}
  
  /* Випадаючий контент (приховано за замовчуванням) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 green;
    z-index: 1;
    left: 100%;
    top: 0;
}
  
  /* Посилання всередині випадаючого списку */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
  /* Змінити колір випадаючих посилань при наведенні */
.dropdown-content a:hover {background-color: greenyellow}
  
  /* Показати випадаюче меню при наведенні */
.dropdown:hover .dropdown-content {
    display: block;
}
  
  /* Змінити колір фону кнопки випадаючого списку, коли відображається зміст випадаючого списку. */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.dropdown2 {
    position: relative;
    display: inline-block;
}
  
.dropdown-content2 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown2:hover .dropdown-content2 {
    display: block;
}
  
.desc {
    padding: 15px;
    text-align: center;
    color: black;
}

.shadow {
    text-shadow: 2px 2px 5px red;
}

.shadow2 {
    color: coral;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.shadow3 {
    width: 300px;
    height: 100px;
    padding: 15px;
    background-color: coral;
    box-shadow: 5px 5px 5px blue, 10px 10px 5px red, 15px 15px 5px green;
}

.polaroid {
    width: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}
  
.container {
    padding: 10px;
}

.perehod {
    width: 100px;
    height: 100px;
    background: red;
    -webkit-transition: width 2s; /* Для Safari 3.1 to 6.0 */
    transition: width 2s, height 4s, transform 2s;
    margin: 25px;
}
  
.perehod:hover {
    width: 300px;
    height: 300px;
    transform: rotate(180deg);
}

.longText {
    width: 200px;
    border: 1px solid #000;
    word-break: keep-all;
}

.longText2 {
    writing-mode: vertical-rl;
}

